.gridMCt{
	min-height: 80vh;
	background-image: url(../img/pasto.jpg);
}
.formCt{
	border-radius: 20px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 5px;
	background-color: #eab875;
	text-align: center;
	font-size: 25px;
	background: linear-gradient(#eab875, #7bc5c1);
}
.divMCt{
	text-align: center;
}
.subtitleCt{
	border-radius: 20px;
	padding: 15px;
	margin: 10px;
	background-color: #eab875;
}