.gridsMCr{
	min-height: 100vh;
	text-align: center;
	background-image: url(../img/pasto.jpg);
}
.divMCr{
	background-color: #eab875;
}
.divMCr p{
	padding: 10px;
}
.iframeMain{
	width: 700;
	margin: 40px;
}
